/Debug
/Debug/*
/.settings
*.*~
.metadata/.plugins/
.metadata/.lock
.metadata/.log
*.xml
*.cpp~
*.hpp~
*.c~
*.h~
*.un~
*.o
*.out
*.ld
*.map
*.d
*.a
*.axf
*.prefs
cscope.*.out
cscope.out
tags
*.launch
